/* == couleurs utilisées ==  

 site: -https://www.materialui.co/colors (Material Design)

 */ 



/* == Général == */

body 
{
  margin: 0;
  width: 100%;
  background-color: #f5f5f5;
  font-family: Montserrat;
  font-size: 18px;
  color: #37474FCC;
}

/* Liens */
a /*liens par défaut non survolés */
{
  color: #37474F;
  text-decoration: none;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: blue;
}

/*Icones*/
.fas 
{
  font-size: 25px;
}

/* Titres */
h1, h2, h3 
{
  margin: 0;
    text-transform: uppercase;
    text-align: left;
}

h1 
{
  font-size: 40px;
  font-weight: normal;
  color: #37474F;
}

h2 
{
  width: 100%;
  font-size: 26px;
  font-weight: normal;
  color: #455a64;
}

h3 
{
  font-size: 22px;
  color: #455a64;
}

.name
{
  color: #C5CAE9;
}

/*Paragraphes*/
p
{
  margin: 0;
  line-height: 23px;
  text-align: justify;
}

/*Sections*/
header p, section 
{
  padding: 15px;

}

section .title
{
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 2%;
  border-bottom: 2px solid #C5CAE9;
}
section .title h2 
{
  padding-left: 10px;
    line-height: 25px;

}

.about
{
  margin-bottom: 35px;
}

/*Listes*/
ul 
{
  padding: 5px;
    margin: 0;
}

.contact li
{
  list-style-type: none;
}

/*Sections Formations & Exp profesionnelles*/
.description
{
  margin-bottom: 5px;
}

.dates 
{
  font-size: 16px;
}

.infos 
{
  margin-bottom: 5px;
  line-height: 20px;
}


/* == HEADER == 

partie gauche */

header  
{
  padding-top: 20px;
  background-color: #C5CAE999;
}

header h2 
{
  background-color: #37474F;
  text-align: center;
  color: #C5CAE9;
}

/*Photo d'identité*/
.identity_img
{
  display: flex;
  justify-content: center;
  width: 230px;
  height: 230px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #00000022;
}

.identity_img img
{
  width: 100%;
  height: auto;
}

/*Contact*/
header .contact 
{
  padding-bottom: 20px;
  line-height: 20px;
}

/*Loisirs*/
header .loisirs 
{
  display: none;

}

header .content_loisirs
{

display: flex;
justify-content: center;

}


/* MAIN
partie de droite */

.container_list
{
  padding-top: 15px;
}

/* icônes */
#content .fas
{
  color: #C5CAE9;
}

/*Identité*/


#identity 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0 35px 0;
  line-height: 30px;

}

#identity p
{
  padding: 0;

}

#focus
{
  border-bottom: 2px solid #C5CAE9;
}

#job_title
{
  color: #455a64;
}


#content #identity 
{
  display: none;
}


/* == SECTION FORMATIONS */

#formations .description
{
    margin-bottom: 5px;
}

/* == SECTION EXPERIENCE PROFESSIONNELLE */

#exp_pro .description {
  margin-bottom: 10px;
}


/* == RECOMMANDATION */

#other h3
{
  margin-top: 5px;
}

#job
{
  font-weight: bold;
}


/* ---------------------------------------- */
/* == MEDIA QUERIES */
/*---------------------------------------- */

/*   Format mobile    */

@media screen and (max--width: 767px) 
{

  /*Général*/
  header .identity_img 
  {
    margin-bottom: 15px;
  }


  section 
  {
    padding-bottom: 0;
  }

  section .title 
  {
      padding-bottom: 5px;
  }

  .infos 
  {
      margin-bottom: 10px;
  }


  /*Header*/
  header  
  {
    margin: 0;
  }

  header .contact 
  {
    padding-bottom: 40px;
  }

  header .loisirs 
  {
    display: block;
  }

  header .content_loisirs 
  {
    display: flex;
    justify-content: center;
  }


}

/*     Format tablette      */

@media screen and (min-width: 768px) and (max-width: 1023)

{

  /*Général*/
  section 
  {
    padding-bottom: 0;
  }

  section .title 
  {
      padding-bottom: 5px;
  }

  .infos 
  {
      margin-bottom: 10px;
  }


  /*Header*/
  header 
  {
    margin: 0;
  }

  header .contact 
  {
    padding-bottom: 40px;
  }

  header .loisirs 
  {
    display: block;
  }

  header .content_loisirs 
  {
    display: flex;
    justify-content: center;
  }


}


/*     Format desktop      */

@media screen and (min-width: 1024px) 

{

  /*Général*/
  body 
  {
    display: flex;
    justify-content: flex-start;

  }

    /*Header*/
  header 
  {
    position: relative;
    width: 25%;
    padding-top: 45px;
  
  }

  header #identity
  {
    display: none;
  }

  header .identity_img 
  {
    margin-bottom: 45px;
  }

  header  .loisirs 
  {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  header .content_loisirs 
  {
    display: flex;
    justify-content: center;
  }

/* MAIN */

  main 
  {
    width: 75%;
    padding: 50px;
  }

  section .title 
  {
    padding: 0;
  }

  .container_list 
  {
    display:flex;
    width: 100%;
  }

  .container_list .dates 
  {
    width: 35%;
  }

  .container_list .description_list 
  {
    width: 65%;
  }

  /*identité*/
  #content #identity 
  {
    display: block;
      padding: 50px 0 50px 0;
  }

}

